<div class="content mat-elevation-z8">
  <div class="container-fluid">
    <!-- Tool Bar Section -->
    <div class="row">
      <div class="col">
        <mat-card class="mt-2" >
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Small</mat-card-subtitle>
              <img
                alt="image"
                mat-card-sm-image
                src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              />
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            {{ "longText" }}
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col">
        <mat-card class="mt-2" >
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Small</mat-card-subtitle>
              <img
                alt="image"
                mat-card-sm-image
                src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              />
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            {{ "longText" }}
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col">
        <mat-card class="mt-2">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Small</mat-card-subtitle>
              <img
                alt="image"
                mat-card-sm-image
                src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              />
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            {{ "longText" }}
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <!-- Tool Bar Section End-->
    <div class="mt-4">
      <mat-divider></mat-divider>
    </div>
    <!-- Graph Section Start -->
    <div class="d-flex justify-content-center align-items-center">
      <h3>Graph</h3>
    </div>
    <!-- Graph Section End -->
  </div>
</div>
