<div
  class="main-container"
  style="position: relative; scroll-behavior: smooth"
>
  <div
    class="container"
    style="
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <div
      class="row"
      style="
        padding: 5px;
        border-width: 1px;
        border-style: solid;
        border-color: blue;
        border-radius: 10px;
        width: 98%;
      "
    >
      <div
        class="col"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px;
        "
      >
        <mat-form-field style="width: 100%" appearance="outline">
          <mat-label>Outline form field</mat-label>
          <input matInput placeholder="Placeholder" />
        </mat-form-field>
      </div>
      <div
        class="col"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px;
        "
      >
        <mat-form-field style="width: 100%" appearance="outline">
          <mat-label>Outline form field</mat-label>
          <input matInput placeholder="Placeholder" />
        </mat-form-field>
      </div>
      <div
        class="col"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px;
        "
      >
        <mat-form-field style="width: 100%" appearance="outline">
          <mat-label>Outline form field</mat-label>
          <input matInput placeholder="Placeholder" />
        </mat-form-field>
      </div>
    </div>
  </div>
  <div style="position: absolute; bottom: 5px; right: 10px">
    <button
      mat-fab
      color="primary"
      matTooltip="Make new application"
      aria-label="Example icon button with a delete icon"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
