<div class="main-container" style="position: relative; scroll-behavior: smooth">
  <div
    style="
      position: relative;
      scroll-behavior: smooth;
      overflow-x: auto;
      overflow-y: auto;
      height: 75vh;
      padding: 15px;
    "
  >
    <span>
      <mat-stepper linear #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>PAGE 1</ng-template>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input
                matInput
                placeholder="Last name, First name"
                formControlName="firstCtrl"
                required
              />
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <!-- <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">
          <form>
            <ng-template matStepLabel>Fill out your address</ng-template>
            <mat-form-field>
              <mat-label>Address</mat-label>
              <input
                matInput
                formControlName="secondCtrl"
                placeholder="Ex. 1 Main St, New York, NY"
                required
              />
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step> -->
      </mat-stepper>
    </span>
  </div>
  <div style="position: absolute; bottom: 5px; right: 10px">
    <button
      class="m-3"
      mat-stroked-button
      color="primary"
      matTooltip="Add Page"
    >
      Add Page
    </button>
    <button mat-fab color="primary" matTooltip="Add Field">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
