<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>NCPA by SCS</h2>
            <h4>example@email.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="a dog img">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/launchpad">LaunchPad</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/notice/create">Create Notice</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/notice/view">View Notice</a>

</mat-nav-list>