<mat-toolbar class="tool-bar">
  <div class="row" style="width: 100%">
    <div class="col">
      <button
        mat-icon-button
        *ngIf="sidenav.mode === 'over'"
        (click)="sidenav.toggle()"
      >
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
      </button>
    </div>
    <div class="col account-circle">
      <p class="account-text">Hello, NCPA</p>
    </div>
    <button class="" mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="../../../assets/images/NCPA_logo.png"
      alt="test"
    />

    <h4 class="name">NCPA</h4>
    <mat-divider></mat-divider>
    <button routerLink="app/launchpad" mat-button class="menu-button">
      <mat-icon style="color: white">home</mat-icon>
      <span style="color: white">Launchpad</span>
    </button>
    <button routerLink="app/recruitment" mat-button class="menu-button">
      <mat-icon style="color: white">people</mat-icon>
      <span style="color: white">Recruitment</span>
    </button>
    <button routerLink="app/notice" mat-button class="menu-button">
      <mat-icon style="color: white">speaker_notes</mat-icon>
      <span style="color: white">Notices</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon style="color: white">help</mat-icon>
      <span style="color: white">Help</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
