.main-container {
  height: 100vh;
  width: 100%;
  background-image: url("../../../../assets/images/forgot_Password.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content {
  padding: 15px;
}

.card-header-text {
  color: #042fbb;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}

.sticky-message {
  padding: 15px;
  border-radius: 5px;
  font-size: 15px;
  line-height: 1.2;
  background-color: #b3c2eb;
}

.password-input {
  width: 100%;
}

.confirm-btn {
  width: 100%;
  border-radius: 5px;
}
