<div class="container-fluid main-container">
  <mat-card>
    <div class="card-content">
      <h1 class="card-header-text">Reset Password</h1>
      <h2 class="sticky-message">
        Set the new password for your account, Then you can Sign in to the
        account using new password
      </h2>
      <div>
        <mat-form-field class="password-input" appearance="outline">
          <mat-label>New Password</mat-label>
          <input matInput [type]="passwordEye ? 'password' : 'text'" />
          <button mat-icon-button matSuffix (click)="passwordEye = !passwordEye">
            <mat-icon>{{
              !passwordEye ? "remove_red_eye" : "visibility_off"
            }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="password-input" appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput [type]="confirmPasswordEye ? 'password' : 'text'" />
          <button mat-icon-button matSuffix (click)="confirmPasswordEye = !confirmPasswordEye">
            <mat-icon>{{
              !confirmPasswordEye ? "remove_red_eye" : "visibility_off"
            }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div>
        <button class="confirm-btn" mat-raised-button color="primary">
          Confirm
        </button>
      </div>
    </div>
  </mat-card>
</div>
