<div class="container-fluid main-container">
  <div class="container-fluid gradient-container">
    <div class="reset-form">
      <mat-card class="example-card">
        <div class="reset-password-content">
          <h1 class="reset-password-text">Reset Password</h1>
          <h2 class="reset-password-wording">
            Set the new password for your account, Then you can Sign in to the
            account using new password
          </h2>
          <div>
            <mat-form-field class="input-styles" appearance="outline">
              <mat-label>New Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" />
              <button mat-icon-button matSuffix (click)="hide = !hide">
                <mat-icon>{{ !hide ? "visibility_off" : "key" }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="input-styles" appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" />
              <button mat-icon-button matSuffix (click)="hide = !hide">
                <mat-icon>{{ !hide ? "visibility_off" : "key" }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="button">
            <button class="btn-styles" mat-raised-button color="primary">
              Confirm
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
