<div class="main-container" style="position: relative; scroll-behavior: smooth">
  <div
    class="container"
    style="
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
</div>
  <div style="position: absolute; bottom: 5px; right: 10px">
    <button
      (click)="addNewApplication()"
      mat-fab
      color="primary"
      matTooltip="New Application"
      aria-label="Example icon button with a delete icon"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
