<div class="container-fluid main-container">
  <mat-card>
    <mat-card-content>
      <div class="card-content">
        <h1 class="card-header-text">Forgot Password</h1>
        <h2 class="sticky-message">
          Enter the email address associated with your account and we'll send
          you a link to reset your password
        </h2>
        <form>
          <div>
            <mat-form-field class="email-input" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="abc@example.com" />
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
          </div>
        </form>
        <div>
          <button class="continue-btn" mat-raised-button color="primary">
            Continue
          </button>
        </div>
        <div>
          <h3>
            Remember the Password?&nbsp;<a routerLink="/app/auth/login"
              >Sign In</a
            >
          </h3>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
