.main-container {
  height: 100%;
  width: 100%;
  background-image: url("../../../../assets/images/forgot_Password.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
}

.gradient-container {
  height: 100%;
  width: 99vw;
  margin-left: -15px;
  // opacity: 0.8;
  // background: linear-gradient(to left bottom, #042fbb, #bbf0fa);
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-form {
  height: 40vh;
  width: 40%;
}

.forgot-password-content {
  margin: 15px;
}

.forgot-password-text {
  color: #042fbb;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}

.forgot-password-wording {
  padding: 8px;
  font-size: 15px;
  line-height: 1.2;
  background-color: #b3c2eb;
}

.input-styles {
  width: 100%;
}

.btn-styles {
  width: 100%;
  border-radius: 5px;
}


