<div class="container-fluid main-container">
  <div class="container-fluid gradient-container">
    <div class="forgot-form">
      <mat-card class="example-card">
        <mat-card-content>
          <div class="forgot-password-content">
            <h1 class="forgot-password-text">Forgot Password</h1>
            <h2 class="forgot-password-wording">
              Enter the email address associated with your account and we'll
              send you a link to reset your passsword
            </h2>
            <form>
              <div class="email">
                <mat-form-field class="input-styles" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="abc@example.com" />
                  <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
              </div>
            </form>
            <div class="button">
              <button class="btn-styles" mat-raised-button color="primary">
                Continue
              </button>
            </div>
            <div class="remember-sighnin">
              <h3 class="remember">Remember the Password?&nbsp;<a href="http://localhost:4200/signin">Sign In</a></h3>
              
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
