<div class="container-fluid main-container">
  <div class="row main-container-row">
    <div class="col col-style">
      <div class="row">
        <h3 class="sign-in-text-styles">Sign in to your Account</h3>
        <form>
          <div>
            <mat-form-field class="password-input" appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput placeholder="" />
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="password-input" appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" />
              <button mat-icon-button matSuffix (click)="hide = !hide">
                <mat-icon>{{ !hide ? "remove_red_eye" : "visibility_off" }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div>
            <button class="btn-styles" mat-raised-button color="primary">
              Sign In
            </button>
          </div>
        </form>
        <div class="forgot-password">
          <a routerLink="/app/auth/forgot-password">Forgot Password?</a>
        </div>
      </div>
    </div>
    <div class="col col-style main-photo-container">
      <div class="content-style">
        <div class="col">
          <div class="row common-logo-styles">
            <img  alt="ncp-logo"  class="logo-styles" src="assets/images/NCPA_logo.png" />
          </div>
          <div class="row word-content">
            <h2 class="main-text-style">
              National Child Protection Authority<br />Application center
            </h2>
          </div>
          <div class="row common-logo-styles">
            <img
              alt="scs-logo"
              class="logo-styles"
              src="../../../../assets/images/scs_logo.png"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
