.main-container {
  height: 100vh;
  width: 100vw;
}


.main-container-row {
  height: 100vh;
}

.col-style {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-style {
  // background: linear-gradient(to left bottom, #042fbb, #bbf0fa);
  height: 100vh;
  width: 50vw;
  margin: -6px -15px;
  // opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;

}
.main-photo-container {
  background-image: url("../../../../assets/images/sign_in.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-text-style {
  color: white;
  font-weight: bold;
  text-align: center;
}



.password-input {
  width: 100%;
}

.btn-styles {
  width: 100%;
  border-radius: 5px;
}

.sign-in-text-styles {
  font-family: 'Varela Round', sans-serif;
  color: #042fbb;
  font-weight: bold;
  margin-bottom: 8px;
}

.logo-styles {
  height: 30%;
  width: 30%;
}

.common-logo-styles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-password{
  margin-top: 10px;
}

.word-content{
  margin-top: 20px;
}

